#footer{
    position: fixed;
    bottom:0px;
    width:100vw;
}
#footer-content{
    background-color: #263238;
    color:white;
    padding:10px;
    text-align:center;
}
@media (max-width:500px){
    #footer-content{
        font-size:10px;
    }
}